In [2]:
import pandas as pd 
import numpy as np

In [11]:
df1 = pd.DataFrame([[1,2,3],[2,3,4],[4,5,6]])
df1.head()

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [13]:
df2 = pd.DataFrame([[1,4,8],[2,6,9],[4,8,12]])
df2.head()

   0  1   2
0  1  4   8
1  2  6   9
2  4  8  12

In [16]:
df = pd.merge(df1,df2,on=0)
df

   0  1_x  2_x  1_y  2_y
0  1    2    3    4    8
1  2    3    4    6    9
2  4    5    6    8   12