In [1]:
from scipy.signal import savgol_filter

In [2]:
import pandas as pd

In [14]:
data = [[1,2,3,4,8],
        [4,5,6,7,12],
        [6,7,8,9,45]
]
df = pd.DataFrame(data)
df

   0  1  2  3   4
0  1  2  3  4   8
1  4  5  6  7  12
2  6  7  8  9  45

In [21]:
y = savgol_filter(data,3,1)
y

array([[ 1.        ,  2.        ,  3.        ,  5.        ,  7.5       ],
       [ 4.        ,  5.        ,  6.        ,  8.33333333, 11.33333333],
       [ 6.        ,  7.        ,  8.        , 20.66666667, 39.16666667]])